version: '3.5'
services:
  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    logging:
      options:
        max-size: 2048m
        max-file: "2"
    restart: always
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=127.0.0.1:9092
    network_mode: host

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    environment:
      - KAFKA_ENABLE_KRAFT=yes

      # Single node: broker + controller in one process
      - KAFKA_CFG_PROCESS_ROLES=broker,controller

      # Node ID must be 1
      - KAFKA_CFG_NODE_ID=1

      # For single-node controller (no quorum)
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

      # Listeners: internal-only
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093

      # For internal cluster communication
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT

      # SAME cluster ID always for single node
      - KAFKA_CFG_CLUSTER_ID="635b7cbd-5435-4bcf-8fd9-b5e971d077a4"
    logging:
      options:
        max-size: 2048m
        max-file: "2"
    volumes:
      - kafka_data:/bitnami/kafka

volumes:
  kafka_data: